<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uclab.smarttest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name=".Main_Login">
        </activity>

        <activity
            android:name=".Ecg_join" />

        <activity
            android:name=".Ecg_menu"
            android:exported="true">

        </activity>

        <activity
            android:name=".Ecg_record" />
        <activity
            android:name=".Ecg_change" />
        <activity
            android:name=".Ecg_result" />

        <activity
            android:theme="@android:style/Theme.Holo.Light"
            android:name=".DeviceControlActivity">
        </activity>

        <activity
            android:theme="@android:style/Theme.Holo.Light"
            android:name=".BleScan_Activity"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service android:name="kr.ac.sch.se.bluetooth.BluetoothLeService" android:enabled="true"/>
    </application>

</manifest>
